In [2]:
#Reading 'Top Apps in Google Play'
import pandas as pd

data = pd.read_csv("Top-Apps-in-Google-Play.csv")

data

,Unnamed: 0,App Name,App Id,Category,Developer Id,Developer Website,Developer Email,Content Rating,Ad Supported,In App Purchases
0,1,Google Play services,com.google.android.gms,Tools,Google LLC,https://developers.google.com/android/google-p...,apps-help@google.com,Everyone,False,False
1,2,YouTube,com.google.android.youtube,Video Players & Editors,Google LLC,https://support.google.com/youtube/topic/24225...,ytandroid-support@google.com,Teen,True,False
2,3,Google,com.google.android.googlequicksearchbox,Tools,Google LLC,https://www.google.com/search/about/,apps-help@google.com,Everyone,True,False
3,4,Google Maps - Navigate & Explore,com.google.android.apps.maps,Travel & Local,Google LLC,http://maps.google.com/about/,apps-help@google.com,Everyone,True,False
4,5,Google Text-to-Speech,com.google.android.tts,Tools,Google LLC,http://www.google.com/,tts-feedback@google.com,Everyone,False,False
...,...,...,...,...,...,...,...,...,...,...
65,66,Clock,com.google.android.deskclock,Tools,Google LLC,http://www.google.com/,android-clock-feedback@google.com,Everyone,False,False
66,67,Spotify: Listen to podcasts & find music you love,com.spotify.music,Music & Audio,Spotify Ltd.,https://www.spotify.com,android-support@spotify.com,Teen,True,False
67,68,Google Translate,com.google.android.apps.translate,Tools,Google LLC,http://support.google.com/translate,translate-mobile-support@google.com,Everyone,False,False
68,69,Samsung Notes,com.samsung.android.app.notes,Productivity,"Samsung Electronics Co., Ltd.",https://samsung.com,noreply.sec@samsung.com,Everyone,False,False
69,70,Calculator,com.google.android.calculator,Tools,Google LLC,http://www.google.com/,android-calculator-feedback@google.com,Everyone,False,False

In [3]:
#1a Displaying the First 7 rows of 1st Dataset
df = data.head(8)

df

,Unnamed: 0,App Name,App Id,Category,Developer Id,Developer Website,Developer Email,Content Rating,Ad Supported,In App Purchases
0,1,Google Play services,com.google.android.gms,Tools,Google LLC,https://developers.google.com/android/google-p...,apps-help@google.com,Everyone,False,False
1,2,YouTube,com.google.android.youtube,Video Players & Editors,Google LLC,https://support.google.com/youtube/topic/24225...,ytandroid-support@google.com,Teen,True,False
2,3,Google,com.google.android.googlequicksearchbox,Tools,Google LLC,https://www.google.com/search/about/,apps-help@google.com,Everyone,True,False
3,4,Google Maps - Navigate & Explore,com.google.android.apps.maps,Travel & Local,Google LLC,http://maps.google.com/about/,apps-help@google.com,Everyone,True,False
4,5,Google Text-to-Speech,com.google.android.tts,Tools,Google LLC,http://www.google.com/,tts-feedback@google.com,Everyone,False,False
5,6,Google Chrome: Fast & Secure,com.android.chrome,Communication,Google LLC,http://www.google.com/chrome/android,apps-help@google.com,Everyone,False,False
6,7,Gmail,com.google.android.gm,Communication,Google LLC,http://support.google.com/mail/bin/topic.py?hl...,apps-help@google.com,Everyone,True,False
7,8,Android Accessibility Suite,com.google.android.marvin.talkback,Tools,Google LLC,https://developer.android.com/guide/topics/ui/...,apps-help@google.com,Everyone,False,False

In [10]:
#1b Selecting the First 3 columns of 1st dataset
data.iloc[:,[0,1,2]]

,Unnamed: 0,App Name,App Id
0,1,Google Play services,com.google.android.gms
1,2,YouTube,com.google.android.youtube
2,3,Google,com.google.android.googlequicksearchbox
3,4,Google Maps - Navigate & Explore,com.google.android.apps.maps
4,5,Google Text-to-Speech,com.google.android.tts
...,...,...,...
65,66,Clock,com.google.android.deskclock
66,67,Spotify: Listen to podcasts & find music you love,com.spotify.music
67,68,Google Translate,com.google.android.apps.translate
68,69,Samsung Notes,com.samsung.android.app.notes
69,70,Calculator,com.google.android.calculator

In [12]:
#1c Displaying 1 row and header of 1st dataset
data.iloc[[0],:]

,Unnamed: 0,App Name,App Id,Category,Developer Id,Developer Website,Developer Email,Content Rating,Ad Supported,In App Purchases
0,1,Google Play services,com.google.android.gms,Tools,Google LLC,https://developers.google.com/android/google-p...,apps-help@google.com,Everyone,False,False

In [13]:
#Reading 'Cryptocurrency Predict Artificial Intelligence V3'
import pandas as pd

data1 = pd.read_csv("BTC_DATA_V3.0.csv")

data1

           Date    Price     Open     High      Low     Vol. Change %
0     25-Mar-22  44331.0  44013.0  45112.0  43622.0  494.09M    0.72%
1     24-Mar-22  44013.0  42911.0  44251.0  42658.0  491.66M    2.57%
2     23-Mar-22  42912.0  42373.0  43027.0  41795.0  433.96M    1.27%
3     22-Mar-22  42373.0  41022.0  43327.9  40893.0  537.06M    3.29%
4     21-Mar-22  41022.0  41282.0  41532.0  40530.0  406.62M   -0.62%
...         ...      ...      ...      ...      ...      ...      ...
1484   2-Mar-18  10827.7  10904.5  11167.0  10677.1  201.69K   -0.70%
1485   1-Mar-18  10904.5  10335.1  11047.8  10248.7  188.77K    5.52%
1486  28-Feb-18  10333.9  10584.4  11070.7  10303.4  215.22K   -2.46%
1487  27-Feb-18  10594.4  10287.8  10867.2  10120.5  202.58K    3.01%
1488  26-Feb-18  10285.1   9590.9  10378.4   9410.3  235.94K    7.30%

[1489 rows x 7 columns]

In [14]:
#2a Displaying the First 7 rows of 2nd Dataset

data1.head(8)

        Date    Price     Open     High      Low     Vol. Change %
0  25-Mar-22  44331.0  44013.0  45112.0  43622.0  494.09M    0.72%
1  24-Mar-22  44013.0  42911.0  44251.0  42658.0  491.66M    2.57%
2  23-Mar-22  42912.0  42373.0  43027.0  41795.0  433.96M    1.27%
3  22-Mar-22  42373.0  41022.0  43327.9  40893.0  537.06M    3.29%
4  21-Mar-22  41022.0  41282.0  41532.0  40530.0  406.62M   -0.62%
5  20-Mar-22  41276.0  42241.0  42301.0  40922.0  308.45M   -2.27%
6  19-Mar-22  42233.0  41768.0  42386.0  41529.6  224.59M    1.11%
7  18-Mar-22  41767.8  40914.6  42308.4  40234.8    2.31B    2.08%

In [16]:
#2b Selecting the First 3 columns of 2nd dataset

data1.iloc[:,[0,1,2]]

           Date    Price     Open
0     25-Mar-22  44331.0  44013.0
1     24-Mar-22  44013.0  42911.0
2     23-Mar-22  42912.0  42373.0
3     22-Mar-22  42373.0  41022.0
4     21-Mar-22  41022.0  41282.0
...         ...      ...      ...
1484   2-Mar-18  10827.7  10904.5
1485   1-Mar-18  10904.5  10335.1
1486  28-Feb-18  10333.9  10584.4
1487  27-Feb-18  10594.4  10287.8
1488  26-Feb-18  10285.1   9590.9

[1489 rows x 3 columns]

In [26]:
#2c Displaying 1 row and header of 2nd dataset

data1.iloc[[0],:]

        Date    Price     Open     High      Low     Vol. Change %
0  25-Mar-22  44331.0  44013.0  45112.0  43622.0  494.09M    0.72%

In [20]:
#Reading 'Programming Laungages and File Format Detection'
import pandas as pd

data2 = pd.read_csv("dataset.csv")

data2

          id           file_path  file_size  line_count extension  language
0          1  Markdown/000001.md      34784         572        md  Markdown
1          2    XML/000002.props       3013          44     props       XML
2          3     Text/000003.txt       1076          21       txt      Text
3          4  Markdown/000004.md       8105          84        md  Markdown
4          5  Markdown/000005.md       2763          41        md  Markdown
...      ...                 ...        ...         ...       ...       ...
86222  86229      SQL/086229.sql        333          18       sql       SQL
86223  86230      SQL/086230.sql        420           8       sql       SQL
86224  86231      SQL/086231.sql        333          18       sql       SQL
86225  86232      SQL/086232.sql        420           8       sql       SQL
86226  86233      SQL/086233.sql        333          18       sql       SQL

[86227 rows x 6 columns]

In [22]:
#3a Displaying the First 7 rows of 3rd Dataset

data2.head(8)

   id           file_path  file_size  line_count extension  language
0   1  Markdown/000001.md      34784         572        md  Markdown
1   2    XML/000002.props       3013          44     props       XML
2   3     Text/000003.txt       1076          21       txt      Text
3   4  Markdown/000004.md       8105          84        md  Markdown
4   5  Markdown/000005.md       2763          41        md  Markdown
5   6  Markdown/000006.md       2030          32        md  Markdown
6   7    JSON/000007.json        591          19      json      JSON
7   8    JSON/000008.json        183          11      json      JSON

In [23]:
#3b Selecting the First 3 columns of 3rd dataset

data2.iloc[:,[0,1,2]]

          id           file_path  file_size
0          1  Markdown/000001.md      34784
1          2    XML/000002.props       3013
2          3     Text/000003.txt       1076
3          4  Markdown/000004.md       8105
4          5  Markdown/000005.md       2763
...      ...                 ...        ...
86222  86229      SQL/086229.sql        333
86223  86230      SQL/086230.sql        420
86224  86231      SQL/086231.sql        333
86225  86232      SQL/086232.sql        420
86226  86233      SQL/086233.sql        333

[86227 rows x 3 columns]

In [25]:
#3c Displaying 1 row and header of 3rd dataset

data2.iloc[[0],:]

   id           file_path  file_size  line_count extension  language
0   1  Markdown/000001.md      34784         572        md  Markdown